/* write your override styles here */

/*#wall .tag-1 {*/
/* background-color: ;*/
/*}*/

#wall .tag-1 {
  background-color: neon;
  padding-top:100px;
  padding-right: 100px;
  padding-left: 100px;
  margin: 1500px;
}

.parent #tag-4 {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 100px;
}

