/* write your override styles here */

/*#wall .tag-1 {*/
/* background-color: ;*/
/*}*/

#wall .tag-1 {
  background-color: ;
  padding-top:100px;
  padding-right: 100px;
  padding-left: 100px;
  margin: 150px;
}

#wall #tag-2 {
  background: none;
  z-index: 7;
}




